/* removing unwanted padding and margin */
*{
    margin: 0;
    padding: 0;
}

/* main body styling */
body{
    background-color: #BBDEFB;
}

.main-container{
    background-color: #f7f7f7;
    height: 100vh;
    margin-left: 60px;
    margin-right: 60px;
    overflow: auto;
}

/* header style */
header{
    background-color: white;
    color: #424242;
    position: fixed;
    text-align: center;
    z-index: 8000;
    top:0;
    right: 0;
    left: 0;
    width: 100vw;
    font-family: 'Slackey', cursive;
    box-shadow: 0 1px 20px rgba(46, 61, 73, .2);
    font-weight: 100;
    font-size: large;
    height: 70px;
}

header h1{
    padding: 10px;
}

@media only screen and (max-width: 340px){
    header{
        font-size: small;
    }
}

.green-block{
    color: #689F38;
    font-weight: bold;
    padding-right: 4px;
}

.red-block{
    color: #B71C1C;
    font-weight: bold;
    padding-right: 4px;
}

/* styling for form section */

#form-section{
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    min-height: 300px;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 1px 20px rgba(46, 61, 73, .2);
}

#form-container{
    margin: 5px;
    min-height: 300px;
    border: solid 1px #02b3e4;
    padding: 10px;
}

.form-header{
    color: #757575;
    text-align: center;
    padding: 10px;
    font-family: 'Forum', cursive;
}

.form-sets{
    border: 0;
}

.form-options{
    color: #757575;
    text-align: center;
    padding: 10px;
    font-family: 'Forum', cursive;
}

.form-entry{
    display: inline;
    padding: 5px;
}

.form-entry input[type="number"]{
    width: 50px;
}

@media only screen and (max-width: 450px){
    .form-options .form-entry{
        display: block;
    }
}

@media only screen and (max-width: 500px){
    #form-section{
        top: 150px;
    }
}

.form-submit-pane a{
    color: #02b3e4;
    font-weight: bold;
    font-size: 21px;
    border: solid 1px #02b3e4;
    border-radius: 25px;
    padding: 5px;
}

.chart-option{
    display: inline-block;
    width: calc(50% - 20px);
    text-align: center;
    vertical-align: middle;
}

.chart-option-img{
    width: 150px;
    height: 150px;
}

#chart-selector-options-pane{
    margin-top: 16px;
}

.chart-option-name{
    font-weight: bold;
    font-family: 'Forum', cursive;
}

.chart-option-fig{
    display: inline-block;
    padding: 10px;
}

.chart-option-fig:hover{
    padding: 5px;
    border: solid 5px #1E88E5;
}

@media only screen and (max-width: 400px){
    .chart-option-img{
        width: 50px;
        height: 50px;
    }
}
/* pie form styling*/
#pie-head-img{
    color: #02b3e4;
}

#pie-chart-form{
    display: none;
}

/* style sheet of canvas */
#canvas-division{
    display: none;
    text-align: center;
}

#canvas-area{
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 300px;

}

#canvas-sheet{
    margin: auto;
    display: inline-block;
}

/* line form styling*/
#line-head-img{
    color: #02b3e4;
}

#line-chart-form{
    display: none;
}

#line-entries fieldset{
    padding: 10px;
}

.line-entry{
    padding: 5px
}